.navbar-container {
	background-color: black;
	height: 65px;

	.navbar-title {
		font-size: 28px;
		color: white;
		margin: 0px;
		padding: 15px 0px 16px 24px;
		font-family: "Rosario";
		font-style: normal;
		font-weight: 400;
	}
}
