.footer-container {
	background-color: #1f868b;
	text-align: center;
	height: 65px;

	.footer-title {
		color: white;
		margin: 0px;
		font-size: 18px;
		margin-top: 22px;
		font-family: "Rosario";
		font-style: normal;
		font-weight: 400;
	}
}
