html {
  scroll-behavior: smooth;
}

body {
  background-color: #efefef;

  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  min-height: 100%;
  width: 100%;
}
/* header code starts*/
header {
  background: #2c2c2c;
  color: white;
}

.header-text-wrapper {
  color: #ffffff;
  font-family: "Rosario-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}
.header-overlap-group {
  background-size: 100% 100%;
  height: 65px;
  position: relative;
  width: 1114px;
}
/* header code ends */


main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  max-width: 80%;
  margin: 3% auto;
}

.loader {
  flex-basis: 100%;
  text-align: center;
}

/* search bar code starts*/
.searchbar {
  display: flex;
  flex-basis: 20% 60% 20%;
  width: 100%;
  justify-content: space-around;
}

.searchbar * {
  padding: 1%;
}

.searchbar input {
  flex-basis: 80%;
}
/* search bar code ends*/

/*cards code starts */

.card {
  flex-basis: 100%;
  margin: 2% 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  background-color: white;
  padding-bottom: 100px;
}

.card img {
  width: 100%;
  height: 35vw;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardBody {
  max-width: 80%;
  margin: 1% auto;
}

.cardExploreBtn {
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  color: #0b868b;
  padding: 3%;
  margin-bottom: 30px;
  margin-left: 30px;
  border: 1px solid #0b868b;
  width: 80%;
  text-align: center;
  color: #0B868B;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cardExploreBtn a {
  text-decoration: none;
  color: #0b868b;
  display: inline-flex

}

.cardExploreBtn:hover {
  text-decoration: none;
  background-color: #0b868b;
  color: white;
  transition-duration: 250ms;
}

.cardExploreBtn:hover a {
  color: white;
  transition-duration: 250ms;
}

.title {
  color: #000;
  font-family: Rosario;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  color: #000;
  font-family: Rosario;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-break: break-all;
}
/*cards code ends */

/*image code starts */

img {
  filter: gray;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
/*image code ends */

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  background: rgb(167, 166, 166);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: rgb(61, 60, 60);
  transition-duration: 500ms;
}

/* iPads (portrait and landscape) ----------- */
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .card {
    flex-basis: 47%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .card {
    flex-basis: 30%;
  }

  .card img {
    height: 15vw;
  }
}
/*footer code starts */
footer {
  margin-top: auto;
  background-color: #0b868b;
  color: white;
  text-align: center;
}

.footer-overlap-group {
  background-color: #0b868b;
  height: 65px;
  position: relative;
  width: 1114px;
}

.footer-text-wrapper {
  color: #ffffff;
  font-family: "Rosario-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 593px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;

}

/*footer code ends*/
